{% extends 'layout.html.twig' %}
{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/changeportfolio.css" />


{% endblock %}

{% block content  %}


<h1> modifier vos creations</h1>

<a href="/adminstorytelling" class="badge badge-dark story">Modifier mon historique</a>

<a href="/portfolio/create" class="badge badge-dark portfolio">Renseigner mon nouveau chantier</a>

	<img class="img-responsive" src="/assets/images/">

{% endblock  %}
