{% extends 'layout.html.twig' %}
{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/changeportfolio.css" />


{% endblock %}

{% block content  %}


<h1> Modifier vos creations</h1>

{% include 'tetraDigital/navadmin.html.twig' %}
{% for data in portfolio %}



				<div class="form-group">
				<label for="exampleFormControlTextarea1">commentaire</label>
				<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="details">{{data.description}}</textarea>
				</div>
				<input type="submit" value="valider" name="validation">
			</form>
			</div>

		</div>




{% endfor%}
	</div>
</div>
<input type="submit" value="valider" name="validation">
</form>



<div class='scrolltop'>
    <div class='scroll'><img src="/assets/images/chevron.png"></div>
</div>
<script type="text/javascript">
	$(window).scroll(function() {
	    if ($(this).scrollTop() > 50 ) {
	        $('.scrolltop:hidden').stop(true, true).fadeIn();
	    } else {
	        $('.scrolltop').stop(true, true).fadeOut();
	    }
	});
	$(function(){$(".scroll").click(function(){$("html,body").animate({scrollTop:$("h1").offset().top},"2000");return false})})
</script>

{% endblock  %}
