{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/chantier.css">
{% endblock %}


{% block content%}



<h2>Detail du chantier </h2>
<img src="/assets/images/{{portfolio.0.link}}" alt="photo" height=300 >
<p> <span class="catagories">catégories:</span> {{portfolio.0.namecategories}} </p><br>
<p>{{portfolio.0.description}} </p>




{% endblock%}
