{% extends 'layout.html.twig' %}

{% block content %}

<link rel="stylesheet" href="/assets/css/acceuilportfolio.css">

{% endblock %}

{% block content %}

<div id="porfolio">
  <h1 class="text-center">PORTFOLIO AGENCE DIGITAL</h1>

</div>
<h1> acceuil porfolio </h1>

<p>{{ dump(portfolio) }}</p>





{% endblock %}
