{% extends 'layout.html.twig' %}

  {% block stylesheet %}
<link rel="stylesheet" href="/assets/css/contact.css">

<link rel="stylesheet" href="/assets/css/reset.css">
  {% endblock %}
{% block content %}

<form method="post">
  <input type="text" name="nom" class="question form-control" id="nme" required autocomplete="off" />
  <label for="nme"><span>quel est votre nom?</span></label>

  <input type="text" name="prenom" class="question form-control" id="nme" required autocomplete="off" />
  <label for="nme"><span>quel est votre prenom?</span></label>

  <input type="text" name="telephone" class="question form-control" id="nme" required autocomplete="off" />
  <label for="nme"><span>quel est votre numéro de téléphone?</span></label>

  <input type="text" name="mail" class="question form-control" id="nme" required autocomplete="off" />
  <label for="nme"><span>quel est votre d'adresse email?</span></label>
  <textarea name="message" rows="2" class="question form-control" id="msg" required autocomplete="off"></textarea>
  <label for="msg"><span> votre message</span></label>
  <input type="submit" value="Valider" />
</form>


{% endblock %}
