{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/tetradigital.css">
<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
{% endblock %}


{% block content %}

<main id="cd-main-content">
<section id="cd-intro">
<h1>Tetradigital Agency </h1>


<video autoplay loop poster="/assets/videos/videoagencedigital.ogg" id="bgvid" muted>
  <source src="/assets/videos/videoagencedigital.ogg" type="video/ogg">

</video>
<!--
<div class="orbit">
    <div class="prot"></div>
    <div class="elec sp1"></div>
  </div>
  <div class="orbit rot45"><div class="elec sp2"></div></div>
  <div class="orbit rot90"><div class="elec sp3"></div></div>
  <div class="orbit rot135"><div class="elec sp4"></div></div>

-->




{% block javascript %}

<script src="/assets/js/main.js"></script> <!-- Resource jQuery -->
<script src="/assets/js/modernizr.js"></script> <!-- Modernizr -->

{% endblock %}
{% endblock %}
