{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/tetradigital.css">
<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
{% endblock %}


{% block content %}

<main id="cd-main-content">
<section id="cd-intro">
<h1>Tetradigital Agency </h1>

{% endblock %}
{% block javascript %}

{{ parent() }}

<script src="/assets/js/main.js"></script> <!-- Resource jQuery -->
<script src="/assets/js/modernizr.js"></script> <!-- Modernizr -->

{% endblock %}
