
<div class="navadmin">
<a href="/portfolio/create" class="badge badge-dark story">Nouvelle creation </a>
<a href="/adminstorytelling" class="badge badge-dark story">Modifier historique</a>
<a href="/portfolio/change" class="badge badge-dark portfolio">Modifier realisations </a>
<a href="?deconnexion=1" class="badge badge-dark story">Deconnexion</a></div>
