<div class="navadmin">
  <a href="/portfolio/create" class="badge badge-dark story">Renseigner une nouvelle création </a>
<a href="/adminstorytelling" class="badge badge-dark story">modifier historique entreprise </a>
<a href="/portfolio/change" class="badge badge-dark portfolio">modifier informations des réalisations </a>
<a href="?deconnexion=1" class="badge badge-dark story">Deconnexion</a></div>
