{% extends 'layout.html.twig' %}


{% block stylesheet %}

<link rel="stylesheet" href="/assets/css/storytelling.css">


{% endblock %}

{% block content %}







  <div class="container-fluid toto">
    <h2>About Us</h2>

    <div class="grayscale colonne">
<div>
<div class="colonne">
    <img src="/assets/images/agencedigital.jpg" class="img-thumbnail image" alt="..." >

  </div>
  </div>
</div>


<div class="fontStory">



  {% include 'tetraDigital/story.html.twig' %}

</div>
  </div>

  <div class="container">
    <div class="row">


      <div class="col-sm-2 col-md-3">



        <div class="thumbnail">

          <div class="morph colonne">
            <div>
              <div class="colonne">
          <img src="http://via.placeholder.com/600x300" alt="...">
        </div>
      </div>
    </div>








          <div class="caption">
            <h3>SomeOne</h3>
            <p>Nom : DISCAMPS</p>
            <p>Prenom : Véronique</p>
          </div>
        </div>
      </div>




      <div class="col-sm-2 col-md-3">

        <div class="thumbnail">


          <div class="morph colonne">
            <div>
              <div class="colonne">
          <img src="http://via.placeholder.com/350x150" alt="...">
        </div>
      </div>
    </div>



          <div class="caption">
            <h3>SomeOne</h3>
            <p>Nom : DUPOUY</p>
              <p>Prenom : Frédéric</p>
          </div>
        </div>




      </div>
      <div class="col-sm-2 col-md-3">
        <div class="thumbnail">


          <div class="morph colonne">
            <div>
              <div class="colonne">
          <img src="http://via.placeholder.com/350x150" alt="...">
        </div>
      </div>
    </div>



          <div class="caption">
            <h3>SomeOne</h3>
              <p>Nom : MAC-LUCKIE</p>
              <p>Prenom : Dimitri</p>
          </div>
        </div>
      </div>
      <div class="col-sm-2 col-md-3">
        <div class="thumbnail">


          <div class="morph colonne">
            <div>
              <div class="colonne">
          <img src="http://via.placeholder.com/350x150" alt="...">
        </div>
      </div>
    </div>


          <div class="caption">
            <h3>SomeOne</h3>
              <p>Nom : MORMIN</p>
              <p>Prenom : Kévin</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</form>
</body>
</html>
{% endblock %}
