{% extends 'layout.html.twig' %}


{% block stylesheet %}

<link rel="stylesheet" href="/assets/css/storytelling.css">


{% endblock %}

{% block content %}

<h1> acceuil story telling </h1>


{% endblock %}
