{% extends 'layout.html.twig' %}


{% block stylesheet %}

<link rel="stylesheet" href="/assets/css/storytelling.css">


{% endblock %}

{% block content %}

<div class="container-fluid toto">
<h2>About Us</h2>
  <div class="grayscale colonne">
    <div>
      <div class="colonne">
        <img src="https://www.fostine.fr/wp-content/uploads/2016/10/Agence-web-Geneve10.jpg" class="img-thumbnail" alt="..." >
      </div>
    </div>
  </div>
  <div class="fontStory">
    {% include 'tetraDigital/story.html.twig' %}
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-2 col-md-3">
      <div class="view view-seventh">
        <img src="assets/images/veronique.jpg" />
        <div class="mask">
          <h2>Véronique Discamps</h2>
          
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-md-3">
      <div class="view view-seventh">
        <img src="assets/images/dimitri.jpg" />
        <div class="mask">
          <h2>Dimitri MAC-LUCKIE</h2>
          
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-md-3">
      <div class="view view-seventh">
        <img src="assets/images/frederic.jpg" />
        <div class="mask">
          <h2>Frédéric DUPOUY</h2>

        </div>
      </div>
    </div>
    <div class="col-sm-2 col-md-3">
      <div class="view view-seventh">
        <img src="https://cache.20minutes.fr/photos/2017/08/25/boxer-mix-mongrel-from-cdc6-diaporama.jpg" />
        <div class="mask">
          <h2>Kévin MORMIN</h2>
         
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}