body{
  background-color: #CECECE;

}


h1, h2{
  text-align: center;
  color: black;

}

.badge-dark{
  font-size: 1.5em;
}
.porfolio{
  float: left;

}
.story{
  float: left;
}

.addCreation{
  width:40%;
  margin: 0 auto;
  display: block;
  background-color: white;
  padding: 50px;
  margin-top: 100px;
}
label{
  float: left;
  width: 300px;
  display: block;
}



.changeCreation{
  width:40%;
  margin: 0 auto;
  display: block;
  background-color: white;

}
.navadmin{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
h1{
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-bottom:40px;
  padding-top: 15px;


}


@media screen and (max-width: 600px) {
  h1{

    font-size: 0.9rem;
    color: white;
    text-align: center;
    padding-top: 15px;
  }
}
