body{
  background-color: gray;

}


h1, h2{
  text-align: center;

}

.addCreation{
  width:40%;
  margin: 0 auto;
  display: block;
  background-color: white;
}
label{
  float: left;
  width: 300px;
  display: block;
}



.changeCreation{
  width:40%;
  margin: 0 auto;
  display: block;
  background-color: white;

}
