body{
  background-color: #6DCCF8;

}


h1, h2{
  text-align: center;

}

.modifiCreation{
  width:40%;
  margin: 0 auto;
  display: block;
  background-color: white;
  padding: 20px;

}
label{
  float: left;
  width: 300px;
  display: block;
}


.badge-dark{
  font-size: 1.5em;

}
.porfolio{
  float: left;

}
.story{
  float: right;

}
.deconnexion
{
  float: right;



}
.navadmin{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
