body{
  background-color: gray;

}


h1, h2{
  text-align: center;

}

.modifiCreation{
  width:40%;
  margin: 0 auto;
  display: block;
  background-color: white;
}
label{
  float: left;
  width: 300px;
  display: block;
}


.badge-dark{
  font-size: 1.5em;
}
.porfolio{
  float: left;

}
.story{
  float: right;
}
